<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
	<meta charset="UTF-8" />
	<title>Pesquisa de títulos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="AlgaWorks" src="/images/logo-algaworks.png" />
				</a>
			</div>
		</div>
	</nav>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Pesquisa de títulos</h1>
					<a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo título</a>
				</div>
			</div>

			<div class="panel-body">
			   		<form method="GET" class="form-horizontal">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Qual título você está procurando?"
	   							autofocus="autofocus"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Decrição</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}">1</td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span class="label" th:text="${titulo.status.descricao}"
									th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
							</td>

							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}">
									<button type="submit" class="btn btn-primary">Editar</button>

							<td class="text-center">
								<form th:action="@{/titulos/{codigo}(codigo=${titulo.codigo})}" th:method="delete">
									<button type="submit" class="btn btn-danger">Excluir</button>
								</form>
							</td>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
	</div>
   <script src="/js/jquery-2.1.4.js"></script>
   <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.maskMoney.min.js"></script>
	<script src="/js/cobranca.js"></script>
</body>
</html>